body {
  font-size: 21px;
  text-align: justify;
}

h1 {
  border-bottom: 6px solid #555;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

form {
  padding-top: 60px;
}

.body-container, html, body, form, .container {
  height: 100%;
}

img {
  float: left;
  margin-right: 20px;
  border-radius: 5px;
  max-width: 250px;
}

#post-body {
  border: none;
  outline: none;
  font-size: 29px;
  height: 93%;
  line-height: 1.2em;
  box-shadow: none;
}

em {
  font-weight: 100;
  color: #aaa;
  text-shadow: 1px 0 1px;
}
