{% extends "base.html" %}
{% block title %}{{ p.key_name or name }}{% endblock %}
{% block body %}
	<form method=post>
		<div class="input-group form-group">
			<input {% if p %}disabled{% endif %} 
						 spellcheck=false name=url_id placeholder="URL name" type=text class=form-control
						 value="{{ p.key_name or name }}" required>
			<span class=input-group-btn>
				<button type=submit class="btn btn-default"><span class="glyphicon glyphicon-circle-arrow-up"></span></button>
			</span>
		</div>
		<div class=body-container>
			<textarea spellcheck=false id=post-body name=body
				placeholder="You only have one chance, so try to make perfect one! (Markdown syntax supported)" 
				class=form-control autofocus required>{{ p.body }}</textarea> 
		</div>
	</form>
{% endblock %}
